.careerCard {
	background-color: #3ca9d196;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 25px;
}

#careerContainer {
	
	margin:15vh auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*background-color: #ffffffa6;*/
	padding: 20px;
	width: 80vw;
	border-radius: 25px;

}


#careerContainer > h2 {
	transform: rotate(270deg);
	align-self: center;
	font-size: 3em;
	background-color: #5eff40;
	color: black;
	padding: 10px 20px;
	border-radius: 10px;
}